 body {
   background-color: #222831 !important;
   padding: 3% 25%;
   /* display: flex;
     justify-content: center; */
 }

 h5 {
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   padding-bottom: 40px;
   color: #eeeeee;
 }

 .login-container {
   background-color: #00adb5;
   border-radius: 15px;
   border: 2px #eeeeee solid;
 }

 h1 {
   color: #393e46;
   padding-top: 10px;
   font-family: 'Ubuntu', sans-serif;
 }

 .form-input {
   background-color: #00adb5 !important;
   border: none;
   border-bottom: 2px #eeeeee solid !important;
   width: 100%;
 }

 .form-input:focus {
   border: 1px #eeeeee solid;
   border-bottom: 2px #eeeeee solid !important;
   transition: 0.05s;
   outline: none;
 }

 .sub-container {
   padding-top: 15px;
 }

 .capcha-image {
   height: 28px;
   border-radius: 20%;
 }

 label {
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   color: #222831;
   display: block !important;
   text-align: left;
   line-height: 1;
 }

 .login-button {
   font-family: 'Ubuntu', sans-serif;
   margin: 50px auto 5px auto;
   font-size: 20px;
   width: 35%;
   height: 40px;
   color: #eeeeee;
   border: 2px #eeeeee solid !important;
   background-color: #393e46;
   border-radius: 5px;
   transition: 0.2s;
 }

 .login-button:hover {
   color: #393e46;
   background-color: #eeeeee;
   border: 2px #393e46 solid !important;
 }

 p {
   margin-bottom: 0 !important;
   text-align: center;
   font-size: 14px;
 }

 a {
   color: #eeeeee !important;
 }

 a:hover {
   color: #222831 !important;
   font-weight: bold;
 }

 .footer {
   display: block;
   text-align: center;
   padding-top: 60px;
 }

 p1 {
   color: #eeeeee;
 }

 hr {
   width: 85%;
   border: 1px #222831 solid !important;
 }

 p, a, p1 {
   font-family: 'Montserrat', sans-serif;
 }
